/* Fuente retro opcional */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body, html {
  background-image: url('../img/Fondo.png');
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

.fondo-estelar {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
}

.titulo-principal {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-shadow: 0 0 15px #00f0ff;
}

.menu-galactico {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.boton-planeta {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  transition: transform 0.3s, box-shadow 0.3s;
}


.boton-planeta:hover {
  transform: scale(1.1);
}

.planeta1 {
  background-image: url('../img/Simon.png');
}

.planeta2 {
  background-image: url('../img/TaTeTi.png'); 
}

.planeta3 {
  background-image: url('img/planeta3.png');
}

@media (max-width: 600px) {
  .boton-planeta {
    width: 120px;
    height: 120px;
  }

  .titulo-principal {
    font-size: 1.8rem;
  }
}