<ion-content [fullscreen]="true">
  <div class="body">
<div class="cursor">

  </div>
  <div class="fondo-estelar">
    <h1 class="titulo-principal">Estación de Juegos</h1>

    <div class="menu-galactico">
        <a href="/assets/pages/simon.html" class="boton-planeta planeta1" aria-label="Ir a Simón Dice">
  <svg viewBox="0 0 200 160" class="texto-curvo">
    <defs>
      <path id="arco1" d="M10,130 A90,90 0 0,1 190,130" />
    </defs>
    <text dy="-5">
      <textPath href="#arco1" startOffset="50%" text-anchor="middle">
        Simón Dice
      </textPath>
    </text>
  </svg>
</a>

      <a href="/assets/pages/tateti.html" class="boton-planeta planeta2" aria-label="Ir a TaTetI">
  <svg viewBox="0 0 200 160" class="texto-curvo">
    <defs>
      <path id="arco1" d="M10,130 A90,90 0 0,1 190,130" />
    </defs>
    <text dy="-5">
      <textPath href="#arco1" startOffset="50%" text-anchor="middle">
        TaTeTi
      </textPath>
    </text>
  </svg>
</a>
      
<a href="/assets/pages/piedra.html" class="boton-planeta planeta3" aria-label="Ir a Piedra, papel o tijera">
  <svg viewBox="0 0 300 160" class="texto-curvo">
    <defs>
      <path id="arco3" d="M10,145 A140,140 0 0,1 290,145" />
    </defs>
    <text dy="-5">
      <textPath href="#arco3" startOffset="50%" text-anchor="middle" style="font-size: 29px;">
        Piedra, papel o tijera
      </textPath>
    </text>
  </svg>
</a>

    </div>
  </div>
</div>

</ion-content>
