<!-- public/views/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Juegos en JavaScript</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1>Bienvenido a los Juegos en JavaScript</h1>
  <div class="game-buttons">
    <a href="/simonDice.html"><button>Simón Dice</button></a>
    <a href="/tateti.html"><button>TaTeTi / Tres en Línea</button></a>
    <a href="/ppt.html"><button>Piedra, Papel o Tijeras</button></a>
  </div>
  <script src="../js/script.js"></script>
</body>
</html>
