<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Eventos en JS</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Demostración de Eventos</h1>
  
  <div id="contenedor">
    <button id="btnClick">Click</button>
    <button id="btnDblClick">Doble click</button>
    <input id="keyInput" placeholder="Escribí algo" />
    <img id="hoverImg" src="/img/image1.jpg" alt="hover" width="200">
    
    <form id="formulario">
      <input type="text" required placeholder="Tu nombre" />
      <button type="submit">Enviar</button>
    </form>
  
    <p id="textoDobleClick"> </p>
    <p id="teclaPresionada">Tecla presionada: </p>
    <p id="mensajeForm"></p>
  </div>
  
  <button onclick="contarHijos()">Contar hijos</button>
  <p id="resultado"></p>

  <script src="/js/script.js"></script>
</body>
</html>
