<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Formulario con varios campos</title>
</head>
<body>
  <div class="contenedor-principal">
    <form id="formulario" action="/guardar" method="POST">
      <h2>Formulario de Registro</h2>
    
      <label>
        Nombre:
        <input type="text" name="nombre" placeholder="Nombre" required>
      </label><br>
    
      <label>
        Apellido:
        <input type="text" name="apellido" placeholder="Apellido" required>
      </label><br>
    
      <label>
        Edad:
        <input type="number" name="edad" placeholder="Edad" required>
      </label><br>
    
      <label>
        Fecha de nacimiento:
        <input type="date" name="fecha-nac" required>
      </label><br>
    
      <label>Sexo:</label><br>
      <label><input type="radio" name="sexo" value="masculino" required> Masculino</label>
      <label><input type="radio" name="sexo" value="femenino"> Femenino</label>
      <label><input type="radio" name="sexo" value="masculino" required> Otro</label><br>
    
      <label>
        Documento (DNI o similar):
        <input type="text" name="documento" placeholder="Número de documento" required>
      </label><br>
    
      <label>
        Estado civil:
        <select name="estado-civil" required>
          <option value="">Seleccioná</option>
          <option value="soltero">Soltero/a</option>
          <option value="casado">Casado/a</option>
          <option value="divorciado">Divorciado/a</option>
          <option value="viudo">Viudo/a</option>
        </select>
      </label><br>
    
      <label>
        Nacionalidad:
        <input type="text" name="nacionalidad" placeholder="Ej: Argentina" required>
      </label><br>
    
      <label>
        Teléfono:
        <input type="tel" name="telefono" placeholder="Ej: 1123456789" required>
      </label><br>
    
      <label>
        Mail:
        <input type="email" name="email" placeholder="tu@mail.com" required>
      </label><br>
    
      <label>
        ¿Tiene hijos?
        <input type="checkbox" name="tiene-hijos">
      </label><br>
    
      <label>
        ¿Cuántos hijos? (completar solo si tiene)
        <input type="number" name="cantidad-hijos" min="0">
      </label><br>
      <p id="mensaje"></p>
      <button type="submit">Enviar</button>
    </form>
  </div>
    
      <div class="contenedor-lista">
        <h2>Lista de personas registradas:</h2>
        <ul id="lista-personas"></ul>
      </div>

  <script src="/js/script.js"> </script>
</body>
</html>