<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Eventos en JavaScript</h1>
  <nav>
    <a href="/click"><button>Click</button></a>
    <a href="/dblclick"><button>Doble Click</button></a>
    <a href="/keydown"><button>Teclado</button></a>
    <a href="/hover"><button>Hover</button></a>
    <a href="/submit"><button>Submit</button></a>
  </nav>
  <script src="/js/main.js"></script>
</body>
</html>
