<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Biblioteca de Funciones</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="biblioteca-body">
  <h1 class="biblioteca-titulo">Biblioteca de Funciones</h1>
  
  <div class="estanteria-biblioteca">
    <!--Push-->
    <a href="/push.html" class="libro-biblioteca">
        <span>push()</span>
    </a>      
    <!--Pop-->
    <a href="/pop.html" class="libro-biblioteca">
        <span>pop()</span>
    </a>      
    <!--Más libros-->
    <a href="/unshift.html" class="libro-biblioteca">
        <span>unshift()</span>
    </a>
    <a href="/shift.html" class="libro-biblioteca">
        <span>shift()</span>
    </a>
    <a href="/libro3.html" class="libro-biblioteca">
        <span>libro 3</span>
    </a>
    <a href="/libro4.html" class="libro-biblioteca">
        <span>libro 4</span>
    </a>
    <a href="/libro5.html" class="libro-biblioteca">
        <span>libro 5</span>
    </a>
    <a href="/libro6.html" class="libro-biblioteca">
        <span>libro 6</span>
    </a>
    <a href="/libro7.html" class="libro-biblioteca">
        <span>libro 7</span>
    </a>
    <a href="/libro8.html" class="libro-biblioteca">
        <span>libro 8</span>
    </a>
    <a href="/libro9.html" class="libro-biblioteca">
        <span>libro 9</span>
    </a>
    <a href="/libro10.html" class="libro-biblioteca">
        <span>libro 10</span>
    </a>
    <a href="/libro11.html" class="libro-biblioteca">
        <span>libro 11</span>
    </a>
    <a href="/libro12.html" class="libro-biblioteca">
        <span>libro 12</span>
    </a>
    <a href="/libro13.html" class="libro-biblioteca">
        <span>libro 13</span>
    </a>
    <a href="/libro14.html" class="libro-biblioteca">
        <span>libro 14</span>
    </a>
  </div>
  
</body>
</html>
