<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Biblioteca de Funciones</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="biblioteca-body">
  <h1 class="biblioteca-titulo">Biblioteca de Funciones</h1>
  
  <div class="estanteria-biblioteca">
    <!--Push-->
    <a href="/push.html" class="libro-biblioteca">
        <span>push()</span>
    </a>      
    <!--Pop-->
    <a href="/pop.html" class="libro-biblioteca">
        <span>pop()</span>
    </a>      
    <!--Más libros-->
    <a href="/unshift.html" class="libro-biblioteca">
        <span>unshift()</span>
    </a>
    <a href="/shift.html" class="libro-biblioteca">
        <span>shift()</span>
    </a>
    <a href="/splice.html" class="libro-biblioteca">
        <span>splice()</span>
    </a>
    <a href="/slice.html" class="libro-biblioteca">
        <span>slice()</span>
    </a>
    <a href="/indexOf.html" class="libro-biblioteca">
        <span>indexOf()</span>
    </a>
    <a href="/includes.html" class="libro-biblioteca">
        <span>includes()</span>
    </a>
    <a href="/forEach.html" class="libro-biblioteca">
        <span>forEach()</span>
    </a>
    <a href="/map.html" class="libro-biblioteca">
        <span>map()</span>
    </a>
    <a href="/filter.html" class="libro-biblioteca">
        <span>filter()</span>
    </a>
    <a href="/reduce.html" class="libro-biblioteca">
        <span>reduce()</span>
    </a>
    <a href="/sort.html" class="libro-biblioteca">
        <span>sort()</span>
    </a>
    <a href="/reverse.html" class="libro-biblioteca">
        <span>reverse()</span>
    </a>
  </div>
  
</body>
</html>
