<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>sort()</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<a href="/" class="boton-volver">← Volver a la biblioteca</a>
  <div class="libro">
    <div class="pagina">
     <div class="titulo">Libro: <code>sort()</code></div>
     <form id="form-numeros-sort">
      <p>Ordenar números (menor a mayor)</p>
      <input type="number" placeholder="Número 1" required>
      <input type="number" placeholder="Número 2" required>
      <input type="number" placeholder="Número 3" required>
      <button type="submit">Ordenar</button>
    </form>
    <div id="resultado-numeros-sort" class="resultado-mano"></div>
      <hr>

        <form id="form-palabras-sort">
      <p>Ordenar palabras alfabéticamente</p>
      <input type="text" placeholder="Palabra 1" required>
      <input type="text" placeholder="Palabra 2" required>
      <input type="text" placeholder="Palabra 3" required>
      <button type="submit">Ordenar</button>
    </form>
    <div id="resultado-palabras-sort" class="resultado-mano"></div>
</div>
    <div class="linea-centro"></div>

    <div class="pagina">
 <form id="form-usuarios-sort">
      <p>Ordenar usuarios por edad</p>
      <input type="text" placeholder="Nombre 1" required>
      <input type="number" placeholder="Edad 1" required>
      <input type="text" placeholder="Nombre 2" required>
      <input type="number" placeholder="Edad 2" required>
      <input type="text" placeholder="Nombre 3" required>
      <input type="number" placeholder="Edad 3" required>
      <button type="submit">Ordenar</button>
    </form>
    <div id="resultado-usuarios-sort" class="resultado-mano"></div>
    </div>
    
  </div>
  <script src="/js/sort.js"></script>
</body>
</html>
